PORT=5000
PAYMENT_PROVIDER_MODE=mock
MOCK_PAYMENT_VERIFY_STATUS=successful

MTN_MOMO_API_BASE_URL=
MTN_MOMO_API_KEY=
MTN_MOMO_COLLECTION_PRIMARY_KEY=
MTN_MOMO_CALLBACK_URL=

AIRTEL_MONEY_API_BASE_URL=
AIRTEL_MONEY_CLIENT_ID=
AIRTEL_MONEY_CLIENT_SECRET=
AIRTEL_MONEY_CALLBACK_URL=

BANK_API_BASE_URL=
BANK_API_KEY=
BANK_API_SECRET=
